<h1>Admin Dashboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number of Products</th>
      <th>Number of Catgories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @products, admin_products_path %></td>
      <td><%= link_to @categories, admin_categories_path %>
      </td>
    <tr>
  </tbody>
</table>
